---
interface Props {
  title: string;
  price: string;
  sizes: string;
  image: string;
}

const { price, title, sizes,image } = Astro.props;
---

<div class="items-center border p-4 w-[350px] border-black mt-8">
    <img src={image} height="400" width="300" />
  
    <div class="flex flex-col justify-center items-center w-52">
      <h5 class="text-2xl mt-6 text-gray-900">{title}</h5>
	  <p>{sizes}</p>
      <p class="text-xl text-blue-500">RS: {price}</p>
    </div>
  </div>

