---
// import "@fontsource/cormorant-garamond";
import '@fontsource/poppins';
---

<nav>
  <div class="flex justify-center m-8 items-center">
    <img class="" src="comp-logo.png" height="77" width="200" alt="logo" />
  </div>
  <div class="flex justify-center items-center flex-row">
    <!-- <h2 class="text-[28px] font-normal "> Cart</h2> -->
    <img src="cart.svg" alt="cart" height="33" width="88" />
    <span
      class="text-white h-8 w-8 rounded-full bg-orange-700 text-xl items-center justify-center flex">6</span
    >
  </div>
</nav>
